# Virtual environments
venv/
.venv/

# dbt
target/
**/target/
**/dbt_packages/
**/logs/

# DuckDB
*.duckdb

# Jupyter Notebooks
.ipynb_checkpoints/

# Python cache
__pycache__/

# Otros
logs/
dev.duckdb
