# venv y cachés de Python
venv/
.venv/
__pycache__/
*.pyc

# Artefactos de dbt
dbt_nyc_mta_ridership/target/
dbt_nyc_mta_ridership/logs/
dbt_nyc_mta_ridership/dbt_packages/
dbt_nyc_mta_ridership/dbt_packages/
dbt_nyc_mta_ridership/seeds/clean_*.csv

# DuckDB
*.duckdb
*.duckdb.wal

# Logs
logs/
*.log
