# Entornos
venv/
.venv/

# Archivos temporales y binarios
*.duckdb
*.pbix
*.png
*.pdf
*.csv
*.zip
*.log

# Carpetas de compilación
target/
**/target/
dbt_mta/target/
dbt_mta/dbt_packages/
.ipynb_checkpoints/

# Archivos generados
outputs/
logs/
